
.light-card {
    border-radius: 15px;
    box-shadow: 0px 4px 10px #0000001A;
    padding: 16px;
    background-color: #f3f6ff;
    border: 1px solid #E6E8EE;
    padding: 20px;
    border-radius: 15px;
}